.Shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
}