* {
    margin: 0px;
    padding: 0px;
}

.products {
    border: solid 1px gray;
    border-radius: 7px;
    width: 300px;
    height: 508px;
    position: relative;
}

.img {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 286px;
    height: 286px;
    margin: 7px;
}


.details {
    padding: 10px;
}

.details h5 {
    padding: 5px;
}

.details h6 {
    padding: 5px;
}

.addto-btn {
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 7px 7px;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.addto-btn:hover {
    background-color: orange;
}